Checks: >
  bugprone-*,
  performance-*,
  portability-*,
  modernize-*,
  readability-*,
  -readability-identifier-length

WarningsAsErrors: ''

HeaderFilterRegex: '.*include/grain/.*'

FormatStyle: file

CheckOptions:
  - key: readability-function-cognitive-complexity.Threshold
    value: '25'